.about{
    // border: solid red 3px;
    display: flex;
    font-family: 'Alegreya SC', serif;
    min-height: 500px;
    justify-content: space-evenly;
    padding: 30px;
    width: 100%;
    div{
        // border: 3px solid green;
        display: flex;
        flex-direction: column;
        padding: 30px;
        width: 33%;
        h2{
            margin: 0px auto 0px;
            // border: solid 3px red;
            text-align: center;
        }
        img{
            // border: solid 2px purple;
            margin: 0px auto;
            width: 100px;
        }
        p{
            text-align: justify;
        }
    }
}