.contact-wrapper{
    background-image: url('../../../content/images/contact2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Barlow Condensed', sans-serif;
    height: 100%;
    padding-top: 150px;
    padding-left: 60px;
    .contact{
        background: rgba(204, 204, 204, 0.7);
        font-size: 1.2em;
        height: 80%;
        padding: 2em;
        // margin: 0px auto;
        vertical-align: center;
        width: 40%;
        img{
            margin-right: 20px;
            width: 35px;
        }
    }
}