*{
  box-sizing: border-box;
}

html{
  /* border: solid 3px green; */
  /* height: 100%; */
}

body{
  min-height: 100%;
  margin: 0px;
}

header{
  background-color: rgb(190,190,190);
  height: 80px;
  top: 0px;
  width: 100%;
  position: fixed;
}

.header-wrapper{
  display: flex;
}

main{
  height: calc(100vh - 90px);
}

footer{
  height: 10%;
}