nav{
    align-items: baseline;
    display: flex;
    width: 50%;
    .links{
        display: flex;
        justify-content: flex-end;
        margin: auto;
        padding-right: 10%;
        width: 100%;
        a{
            color: black;
            font-family: 'Alegreya SC', serif;
            margin: 5px 20px;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    }
}