nav{
    align-items: baseline;
    display: flex;
    width: 50%;
    .links{
        display: flex;
        justify-content: flex-end;
        margin: auto;
        padding-right: 10%;
        width: 100%;
        a{
            margin: 5px 5px;
            text-decoration: none;
        }
    }
}